<div class="wrapper">
  <%= render "shared/side-bar" %>
  <div class="main_content">
    <div class="row">
      <div class="col">
      <h1>EDIT EXISTING BOOKING</h1>
      <%= simple_form_for @booking do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs" style="width: 1000px;">
      <label for="booking_check_in">Check-in date</label>
    <%= f.input :check_in, as: :date, html5: true, label: false %>

    <label for="booking_check_out">Check-out date</label>
    <%= f.input :check_out, as: :date, html5: true, label: false %>

    <%# <label for="booking_total">Total</label>
    <%= f.input :total, label: false %>

    <label for="booking_agency">Agency</label>
    <%= f.input :agency, label: false %>
  </div>


  <div class="form-actions">
    <%= f.button :submit, class: "lrg-blue-btn" , value: "Submit" %>
  </div>
<% end %>

      </div>
    </div>
  </div>

</div>
