<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="container-fluid">
    <%= link_to root_path, class: "navbar-brand" do %>
      <%= image_tag "YMS-logo.png" %>
    <% end %>


    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">
        <% if user_signed_in? %>
          <span class="navbar-text text-dark" style="margin-right: 15px;">
            <%= current_user.email %>
          </span>

          <li class="nav-item dropdown">
          <a href="#" class="avatar" id="navbarDropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <% if current_user.photo.key %>
              <%= cl_image_tag current_user.photo.key, class: "avatar", crop: :fill %>
            <% else %>
              <%= image_tag "avatar.jpeg", class: "avatar", alt: "dropdown menu" %>
            <% end %>
          </a>
            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
              <%= link_to "Your crew", your_crew_path, class: "dropdown-item" %>
              <%= link_to "Yours yachts", my_yachts_path, class: "dropdown-item" %>
              <%= link_to "Edit your profile", edit_user_registration_path, class: "dropdown-item" %>
              <%= button_to "Log out", destroy_user_session_path, method: :delete, data: {turbo_method: :delete}, class: "dropdown-item" %>
            </div>
          </li>
        <% else %>

        <div class="dropdown">
        <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Actions
        </button>

        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <%= link_to "Login", new_user_session_path, class: "dropdown-item" %>
          <%= link_to "Sign up", new_user_registration_path, class: "dropdown-item" %>
        </div>
      </div>
        <% end %>
      </ul>
    </div>
  </div>
</div>
