<div class="sidebar">
  <ul>
  <li>
    <div class="nav-block">
      <div class="icon">
        <i class="fas fa-calendar"></i>
      </div>
      <div class="link">
        <%= link_to "Calendar", calendar_path %>
      </div>
    </div>
  </li>
  <li>
    <div class="nav-block">
      <div class="icon">
        <i class="fas fa-check"></i>
      </div>
      <div class="link">
        <%= link_to "Bookings", bookings_path %>
      </div>
    </div>
  </li>
  <li>
    <div class="nav-block">
      <div class="icon">
        <i class="fas fa-sailboat"></i>
      </div>
      <div class="link">
        <%= link_to "Yachts", yachts_path %>
      </div>
    </div>
  </li>
  <li>
     <div class="nav-block">
      <div class="icon">
        <i class="fa-solid fa-business-time"></i>
      </div>
      <div class="link">
        <%= link_to "Business", business_path %>
      </div>
    </div>
  </li>
  <li>
    <div class="nav-block">
      <div class="icon">
        <i class="fa-solid fa-sack-dollar"></i>
      </div>
      <div class="link">
        <%= link_to "Income", income_path %>
      </div>
    </div>
  </li>
  <li>
    <div class="nav-block">
      <div class="icon">
        <i class="fas fa-map"></i>
      </div>
      <div class="link">
        <%= link_to "Tracker", tracker_path %>
      </div>
    </div>
  </li>
  <li>
    <div class="nav-block">
      <div class="icon">
        <i class="fa-solid fa-comments"></i>
      </div>
      <div class="link">
        <%= link_to "Chatroom", chatrooms_path %>
      </div>
    </div>
  </li>
  </ul>
</div>
