<div class="wrapper">
  <%= render "shared/side-bar" %>
  <div class="main_content">
    <h1>INCOME SUMMARY</h1>

      <div class="grid-income">
        <div class="card1">
          <div class="card-body">
            <h2 class="card-title">Weekly Income</h2>
            <p class="card-text">Total Income for This Week:</p>
            <h3 class="card-amount">$<%= @weekly_income %></h3>
              <%# <%= bar_chart Income.where(user: current_user).group("DATE_TRUNC('week', date)").sum(:amount) %>
          </div>
        </div>

        <div class="card2">
          <div class="card-body">
            <h2 class="card-title">Monthly Income</h2>
            <p class="card-text">Total Income for This Month:</p>
            <h3 class="card-amount">$<%= @monthly_income %></h3>
              <%# <%= bar_chart Income.where(user: current_user).group("DATE_TRUNC('month', date)").sum(:amount) %>
          </div>
        </div>

        <div class="card3">
          <div class="card-body">
            <h2 class="card-title">Yearly Income</h2>
            <p class="card-text">Total Income for This Year:</p>
            <h3 class="card-amount">$<%= @yearly_income %></h3>
              <%# <%= bar_chart Income.where(user: current_user).group("DATE_TRUNC('year', date)").sum(:amount) %>
            </div>
          </div>

        <div class="card4">
          <%= line_chart Income.where(user: current_user).group(:date).sum(:amount), colors: ["#18B0FF"] %>
        </div>




      </div>
  </div>
</div>
